#home{
  padding-left: 0;
  padding-right: 0;
}

.home__container{
  width: 100%;
  justify-content: center;
}

.home__content{
  width: 80%;
}

.home__content > h1{
  text-align: center;
}

.home__content > p{
  text-align: center;
}


.home__buttons-container{
  justify-content: center;
}

#projects{
  padding-left: 0;
  padding-right: 0;
}

.projects__container{
  width: 100%;
}

.projects__card{
  padding: 1.5rem 0;
  margin-top: 20px;
  height: auto;
  flex-direction: column;
}

.projects__card-details{
  text-align: justify;
}

.projects__card img{
  width: 100%;
}


.aboutme__container{
  width: 100%;
}

.footer__container{
  width: 100%;
  flex-direction: column;
  text-align: justify;
}