.header__container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  gap: 0.5rem;
}
.home__content h1 {
  font-size: 15vw;
}
.projects__card img {
  width: 100%;
}
.timeline__container hr {
  display: none;
}
.timeline__items {
  display: flex;
  flex-direction: column;
  position: static;
}
.timeline__container h2 {
  text-align: center;
}
