.home__container{
  width: 100%;
  justify-content: center;
}

.home__content{
  width: 80%;
}

.home__content h1, p{
  text-align: center;
}


.home__buttons-container{
  justify-content: center;
}


.home__image{
  display: none;
}


.projects__container{
  width: 100%;
}

.projects__card img{
  height: 60%;
}

.aboutme__container{
  width: 100%;
}

.footer__container {
  width: 100%;
}