:root{
    --secondary-color: #252734;
    --primary-color: #424455;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body{
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #1c1e2b, #252734);
    font-family: "Open Sans", sans-serif;
}


h1{ font-size: 4.8rem; font-family: "Poppins", sans-serif;}
h2{ font-size: 3.2rem; font-family: "Poppins", sans-serif;}
h3{ font-size: 2rem; font-family: "Poppins", sans-serif;}
p, a{ font-weight: 400; color: #fff;}
li{list-style: none;}
a{text-decoration: none;}
p{line-height: 1.6;}

.header{
    min-width: 320px;
    font-weight: bold;
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    min-height: 6rem;
    z-index: 10;
}


.header__container{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    border-radius: 3rem;
    background: rgba(58, 61, 80, 1);
}

.navbar__list{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}

.navbar__list a{
    font-weight: 400;
}

.navbar__list a:hover{
    color: bisque;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
}

#home{
    width: 100%;
    min-width: 320px;
    height: 60vh;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    scroll-margin-top: 6rem;
}


.home__container{
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
}

.home__content h1{
    color: white;
    margin-bottom: 20px;
}

.home__content--title{
    color: rgb(230, 198, 16);
}

.home__content p{
    font-size: 2rem;
    margin-bottom: 20px;
}

.home__buttons-container{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}


.home__button{
    box-shadow: 0px 4px 8px rgb(255, 255, 255, 0.16);
    text-align: center;
    font-weight: 500;
    width: 150px;
    padding: 1rem 1.8rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: #323444;
    transition: all 0.3s ease;
}

.home__button--left{
    background-color: rgb(230, 198, 16);
    color: black;
    border: none;
}


.home__button:hover{
    background-color: #fff;
    color: black;
    font-weight: 500;
}

.home__image-container{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: 
    linear-gradient(to bottom, 
      rgba(29, 31, 44, 0) 0%,
      rgba(29, 31, 44, 0) 70%,
      rgba(29, 31, 44, 0.5) 85%,
      rgba(29, 31, 44, 1) 100%),
    url('./assets/foto-final.PNG');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#projects{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    scroll-margin-top: 5rem;
}


.projects__container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.projects__container h2{
    color: rgb(230, 198, 16);
}

.projects__card{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 288px;
    border-radius: 1rem;
    column-gap: 15px;
    margin-top: 4rem;
}

.projects__card .projects__image-container{
    width: 450px;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
    box-shadow: 0 4px 12px rgba(244, 239, 239, 0.3); /* Añade una sombra sutil */
    background-color: #1a1f2a; /* Fondo oscuro para imágenes con transparencia */
}

.projects__image-container img{
    width: 100%;
    height: auto;
    display: block;
}


.projects__card-details{
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.projects__card-details h3{
    color: rgb(230, 198, 16);
    margin-bottom: 20px;
}

.projects__card-techs{
    margin-bottom: 20px;
}

.projects__card-techs span{
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
}

.projects__card-details p{
    margin-bottom: 25px;
}

.projects__card-buttons{
    display: flex;
    gap: 15px;
}


.projects__card-buttons a{
    width: 105px;
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 1.5rem;
    gap: .5rem;
    background-color: #323444;
}

.projects__card-buttons a:hover{
    background-color: #fff;
    color: black;
}

#aboutme{
    min-width: 320px;
    min-height: 55vh;
    padding: 1rem 1.5rem;
    scroll-margin-top: 5rem;
}

.aboutme__container{
    width: 50%;
    margin: 0 auto;
}

.aboutme__container h2
{
    margin-top: 30px;
    color:  rgb(230, 198, 16);
}

.aboutme__container p{
    line-height: 1.8;
    margin-top: 15px;
    text-align: justify;
}
.aboutme__container .first{
    margin-top: 50px;
}

.footer{
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    min-height: 6rem;
    min-width: 320px;
    margin-top: 1rem;
}

.footer__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.footer__container .contact, .footer__derechos{
    color: rgb(192, 192, 192);
}

.footer__container .contact{
    text-decoration: underline;
}


