:root{
    --primary-color: #333646;
    --secondary-color: #252734;
}

/* jetbrains-mono-latin-wght-normal */
@font-face {
    font-family: 'JetBrains Mono Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono Variable';
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
}


h1{ font-size: 6.2rem; }
h2{ font-size: 2.8rem; }
h3{ font-size: 2rem; }
p, a{ font-size: 1.6rem; font-weight: 200; color: white;}
li{list-style: none;}
a{text-decoration: none;}
p{line-height: 1.6;}

.header{
    font-weight: bold;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    padding: 1.5rem 2rem;
    position: fixed;
}

.header__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


.header__logo{
    color: rgb(192, 192, 192);
    font-size: 2.4rem;
}

.navbar__list{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}

.navbar__list a{
    color: rgb(192, 192, 192);
}

.navbar__list a:hover{
    color: bisque;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
}

.navbar__list .first_item{
    background-color: #495091;
    border-radius: 10px;
    padding: 8px 8px;
    color: white;
}

.navbar__list .first_item:hover{
    background-color: #848ac4;
}


#home{
    height: 90vh;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}


.home__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.home__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: justify;
    max-width: 650px;
}

.home__content h1{
    color: rgb(230, 198, 16);
    margin-bottom: 3rem;
}

.home__image{
    margin-right: 5rem; 
    display: none;
}

#projects{
    padding-top: 8rem;
    min-height: 90vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}


.projects__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.projects__container h2{
    color: rgb(230, 198, 16);
}

.projects__card{
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    border-radius: 1rem;
    column-gap: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
    background-color: var(--primary-color);
    max-width: 80%;
}

.projects__card img{
    align-self: center;
}

.projects__card-details{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1.5rem;
}

.projects__card-details h3{
    color: rgb(230, 198, 16);
}


.proyects__card-techs span{
    background-color: var(--secondary-color);
    padding: .5rem .5rem;
    border-radius: .5rem;
}

.projects__card-buttons a{
    padding: .5rem .5rem;
    border: 1px solid white;
    border-radius: .5rem;
}

.projects__card-buttons a:hover{
    background-color: rgb(230, 198, 16);
}

#skills{
    background-color: var(--secondary-color);
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    padding-top: 8rem;
}

.skills__container
{
    width: 90%;
    margin: 0 auto;
}

.skills__container h2{
    color: rgb(230, 198, 16);
}

.skills__list{
    display: flex;
    padding: 1rem 2rem;
    gap: 1.5rem;
    margin-top: 5rem;
    flex-flow: row wrap;
}

.skills__list li{
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

#timeline{
    height: 90vh;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
}

.timeline__container{
    width: 90%;
    margin: 0 auto;
}

.timeline__container h2{
    color: rgb(230, 198, 16);
}


.timeline__items{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    position: relative;
    top: 20rem;
    justify-content: space-between;
}

.timeline__items > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.timeline-item{
    background-color: #f4f4f4;
    border-radius: .5rem;
    width: 30rem;
    min-width: 15rem;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.timeline-item h3{
    text-align: center;
}

.timeline-item p{
    color: black;
    text-align: center;
}


.timeline__container hr{
    position: relative;
    top: 21rem;
}


@media (max-width: 800px){
    .home__container{
        flex-direction: column;
        align-items: center;
    }
    .home__content h1, p{
        text-align: center;
    }
    .home__content h1{
        margin-top: 10rem;
    }
    .projects__container{
        align-items: center;
    }
    .projects__card{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .projects__card-details h3{
        text-align: center;
    }
    .proyects__card-techs{
        text-align: center;
    }
    .projects__card-buttons{
        text-align: center;
    }
    .timeline-item{
        width: 15rem;
        height: 15rem;
    }
}